
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-469514544771761374.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-469514544771761374.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-469514544771761374.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-469514544771761374.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-469514544771761374.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-469514544771761374.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-469514544771761374.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-469514544771761374.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-469514544771761374.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-469514544771761374.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-469514544771761374.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-469514544771761374.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-469514544771761374.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-469514544771761374.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-469514544771761374.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-469514544771761374.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-469514544771761374.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-469514544771761374.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-469514544771761374.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-469514544771761374.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-469514544771761374.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-469514544771761374.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-469514544771761374.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-469514544771761374.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-469514544771761374.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-469514544771761374.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-469514544771761374.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-469514544771761374.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-469514544771761374.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-469514544771761374.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-469514544771761374.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-469514544771761374.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-469514544771761374.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-469514544771761374.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-469514544771761374.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-469514544771761374.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-469514544771761374.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-469514544771761374.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-469514544771761374.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-469514544771761374.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-469514544771761374.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-469514544771761374.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-469514544771761374.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-469514544771761374.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-469514544771761374.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-469514544771761374.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-469514544771761374.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-469514544771761374.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-469514544771761374.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-469514544771761374.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-469514544771761374.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-469514544771761374.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-469514544771761374.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-469514544771761374.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-469514544771761374.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-469514544771761374.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-469514544771761374.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-469514544771761374.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-469514544771761374 .gp-relative{position:relative}.gps-469514544771761374 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-469514544771761374 .gp-mb-0{margin-bottom:0}.gps-469514544771761374 .gp-inline-block{display:inline-block}.gps-469514544771761374 .gp-flex{display:flex}.gps-469514544771761374 .gp-grid{display:grid}.gps-469514544771761374 .gp-contents{display:contents}.gps-469514544771761374 .\!gp-hidden{display:none!important}.gps-469514544771761374 .gp-hidden{display:none}.gps-469514544771761374 .gp-h-auto{height:auto}.gps-469514544771761374 .gp-h-full{height:100%}.gps-469514544771761374 .gp-w-full{width:100%}.gps-469514544771761374 .gp-max-w-full{max-width:100%}.gps-469514544771761374 .gp-flex-none{flex:none}.gps-469514544771761374 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-469514544771761374 .gp-flex-col{flex-direction:column}.gps-469514544771761374 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-469514544771761374 .gp-duration-200{transition-duration:.2s}.gps-469514544771761374 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-469514544771761374 .tablet\:\!gp-hidden{display:none!important}.gps-469514544771761374 .tablet\:gp-hidden{display:none}.gps-469514544771761374 .tablet\:gp-h-auto{height:auto}.gps-469514544771761374 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-469514544771761374 .mobile\:\!gp-hidden{display:none!important}.gps-469514544771761374 .mobile\:gp-hidden{display:none}.gps-469514544771761374 .mobile\:gp-h-auto{height:auto}.gps-469514544771761374 .mobile\:gp-flex-none{flex:none}}.gps-469514544771761374 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(1940px + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gVGi_ccV2p"}' data-id="gVGi_ccV2p" id="gVGi_ccV2p" data-same-height-subgrid-container class="gVGi_ccV2p gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--cg-mobile:15px;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:1940px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gJeCga8oVD gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g99RzlRzOh"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1776780103872 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g99RzlRzOh"
    >
      <div
        href="https://wildstyle.se/blogs/artists/kaos-sth" target="_self" type title="{{ section.settings.gg99RzlRzOh_title }}"
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg99RzlRzOh_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjc2NCIgaGVpZ2h0PSIyNzY0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yNzY0LTI3NjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI3NjQiIGhlaWdodD0iMjc2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjc2NCIgaGVpZ2h0PSIyNzY0IiBmaWxsPSJ1cmwoI2ctMjc2NC0yNzY0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjc2NCIgdG89IjI3NjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg99RzlRzOh_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjc2NCIgaGVpZ2h0PSIyNzY0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yNzY0LTI3NjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI3NjQiIGhlaWdodD0iMjc2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjc2NCIgaGVpZ2h0PSIyNzY0IiBmaWxsPSJ1cmwoI2ctMjc2NC0yNzY0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjc2NCIgdG89IjI3NjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        title="{{ section.settings.gg99RzlRzOh_title }}" base-src="{{ section.settings.gg99RzlRzOh_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjc2NCIgaGVpZ2h0PSIyNzY0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yNzY0LTI3NjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI3NjQiIGhlaWdodD0iMjc2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjc2NCIgaGVpZ2h0PSIyNzY0IiBmaWxsPSJ1cmwoI2ctMjc2NC0yNzY0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjc2NCIgdG89IjI3NjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.gg99RzlRzOh_srcSet_desktop_src }}"
        alt="{{ section.settings.gg99RzlRzOh_alt }}"
        width="100%"
        style="--aspect:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSxvhG7fz9"
        class="gSxvhG7fz9"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--fs:normal;--ff:var(--g-font-ABC-Diatype-Regular, 'ABC Diatype Regular'), var(--g-font-heading, heading);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:9px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSxvhG7fz9_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gfu7kO44NT gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="e1227e6666"
      style="--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1776780103874 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto e1227e6666"
    >
      <div
        href="https://wildstyle.se/blogs/artists/waffle-la" target="_self" type title="{{ section.settings.ge1227e6666_title }}"
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ge1227e6666_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQwLTE0NDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDAiIGhlaWdodD0iMTQ0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiBmaWxsPSJ1cmwoI2ctMTQ0MC0xNDQwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MCIgdG89IjE0NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ge1227e6666_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQwLTE0NDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDAiIGhlaWdodD0iMTQ0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiBmaWxsPSJ1cmwoI2ctMTQ0MC0xNDQwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MCIgdG89IjE0NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        title="{{ section.settings.ge1227e6666_title }}" base-src="{{ section.settings.ge1227e6666_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQwLTE0NDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDAiIGhlaWdodD0iMTQ0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiBmaWxsPSJ1cmwoI2ctMTQ0MC0xNDQwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MCIgdG89IjE0NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ge1227e6666_srcSet_desktop_src }}"
        alt="{{ section.settings.ge1227e6666_alt }}"
        width="100%"
        style="--aspect:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPVsFV80xh"
        class="gPVsFV80xh"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--fs:normal;--ff:var(--g-font-ABC-Diatype-Regular, 'ABC Diatype Regular'), var(--g-font-heading, heading);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:9px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPVsFV80xh_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g5LWrEvF6h gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="30e9a08c09"
      style="--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1776780103875 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto 30e9a08c09"
    >
      <div
        href="https://wildstyle.se/blogs/artists/guldvittring-la" target="_self" type title="{{ section.settings.g30e9a08c09_title }}"
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.g30e9a08c09_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMCIgaGVpZ2h0PSIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0wLTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjAiIGhlaWdodD0iMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMCIgaGVpZ2h0PSIwIiBmaWxsPSJ1cmwoI2ctMC0wKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMCIgdG89IjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.g30e9a08c09_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMCIgaGVpZ2h0PSIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0wLTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjAiIGhlaWdodD0iMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMCIgaGVpZ2h0PSIwIiBmaWxsPSJ1cmwoI2ctMC0wKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMCIgdG89IjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        title="{{ section.settings.g30e9a08c09_title }}" base-src="{{ section.settings.g30e9a08c09_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMCIgaGVpZ2h0PSIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0wLTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjAiIGhlaWdodD0iMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMCIgaGVpZ2h0PSIwIiBmaWxsPSJ1cmwoI2ctMC0wKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMCIgdG89IjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.g30e9a08c09_srcSet_desktop_src }}"
        alt="{{ section.settings.g30e9a08c09_alt }}"
        width="100%"
        style="--aspect:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gp5UuQ38rf"
        class="gp5UuQ38rf"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--fs:normal;--ff:var(--g-font-ABC-Diatype-Regular, 'ABC Diatype Regular'), var(--g-font-heading, heading);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:9px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggp5UuQ38rf_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gtQQm99BYf gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="0a40202912"
      style="--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1776780103876 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto 0a40202912"
    >
      <div
        href="https://wildstyle.se/blogs/artists/konie-nyc" target="_self" type title="{{ section.settings.g0a40202912_title }}"
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.g0a40202912_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQwLTE0NDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDAiIGhlaWdodD0iMTQ0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiBmaWxsPSJ1cmwoI2ctMTQ0MC0xNDQwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MCIgdG89IjE0NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.g0a40202912_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQwLTE0NDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDAiIGhlaWdodD0iMTQ0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiBmaWxsPSJ1cmwoI2ctMTQ0MC0xNDQwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MCIgdG89IjE0NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        title="{{ section.settings.g0a40202912_title }}" base-src="{{ section.settings.g0a40202912_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQwLTE0NDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDAiIGhlaWdodD0iMTQ0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiBmaWxsPSJ1cmwoI2ctMTQ0MC0xNDQwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MCIgdG89IjE0NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.g0a40202912_srcSet_desktop_src }}"
        alt="{{ section.settings.g0a40202912_alt }}"
        width="100%"
        style="--aspect:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-UKL0fREk"
        class="g-UKL0fREk"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--fs:normal;--ff:var(--g-font-ABC-Diatype-Regular, 'ABC Diatype Regular'), var(--g-font-heading, heading);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:9px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-UKL0fREk_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-469514544771761374 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/galleri-wildstyle/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=467430995117736805&sectionId=469514544771761374)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg99RzlRzOh_srcSet_desktop_src","label":"gg99RzlRzOh_srcSet_desktop_src","default":"https://ucarecdn.com/85519be0-2846-4f02-8e45-c8d7a3e4c7dd/-/format/auto/"},{"type":"html","id":"gg99RzlRzOh_alt","label":"gg99RzlRzOh_alt","default":"Alt Image"},{"type":"html","id":"gg99RzlRzOh_title","label":"gg99RzlRzOh_title","default":"Image Title"},{"type":"html","id":"ggSxvhG7fz9_text","label":"ggSxvhG7fz9_text","default":"<p>KAOS [STH]</p>"},{"type":"html","id":"ge1227e6666_srcSet_desktop_src","label":"ge1227e6666_srcSet_desktop_src","default":"https://ucarecdn.com/5b6ff937-34b0-49db-a8f6-5ef62fc4146b/-/format/auto/"},{"type":"html","id":"ge1227e6666_alt","label":"ge1227e6666_alt","default":"Alt Image"},{"type":"html","id":"ge1227e6666_title","label":"ge1227e6666_title","default":"Image Title"},{"type":"html","id":"ggPVsFV80xh_text","label":"ggPVsFV80xh_text","default":"<p>WAFFLE [LÅ]</p>"},{"type":"html","id":"g30e9a08c09_srcSet_desktop_src","label":"g30e9a08c09_srcSet_desktop_src","default":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imagelmwstchidc.png"},{"type":"html","id":"g30e9a08c09_alt","label":"g30e9a08c09_alt","default":"Alt Image"},{"type":"html","id":"g30e9a08c09_title","label":"g30e9a08c09_title","default":"Image Title"},{"type":"html","id":"ggp5UuQ38rf_text","label":"ggp5UuQ38rf_text","default":"<p>GULDVITTRING [LÅ]</p>"},{"type":"html","id":"g0a40202912_srcSet_desktop_src","label":"g0a40202912_srcSet_desktop_src","default":"https://ucarecdn.com/11f13b41-abc4-47fd-8905-15e48f76cb5b/-/format/auto/"},{"type":"html","id":"g0a40202912_alt","label":"g0a40202912_alt","default":"Alt Image"},{"type":"html","id":"g0a40202912_title","label":"g0a40202912_title","default":"Image Title"},{"type":"html","id":"gg-UKL0fREk_text","label":"gg-UKL0fREk_text","default":"<p>KONIE [NYC]</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}